# Base de datos
*.db
*.sqlite

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
venv/
.venv/
env/

# Variables de entorno
.env
.env.*

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Syncthing
*.sync-conflict-*

# Documentación PDF
*.pdf
